<!doctype html>

<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" 
     href="../static/js/dropzone-5.7.0/dist/min/dropzone.min.css"/>

     <link rel="stylesheet" 
     href="../static/js/dropzone-5.7.0/dist/min/basic.min.css"/>

    <script src="../static/js/dropzone-5.7.0/dist/dropzone.js"></script>

    <title>File Dropper</title>
</head>
<body>

<form method="POST" class="dropzone dz-clickable" 
      id="dropper" enctype="multipart/form-data">
</form>

<script type="application/javascript">
    Dropzone.options.dropper = {
        paramName: 'file',
        chunking: true,
        forceChunking: true,
        url: '/ftp/upload',
        maxFilesize: 5*1025, // megabytes
        chunkSize: 1000000 // bytes
    }
</script>
</body>
</html>